  /* 清除默认的列表样式 */
  .navbar {
      list-style-type: none;
      margin: 0;
      padding: 0 50px 0 860px;
      overflow: hidden;
      background-color: #424141;
      position: fixed;
            /* 固定在顶部 */
            top: 0;
            /* 距离顶部0px */
            width: 100%;
            /* 宽度100%以占据整个页面宽度 */
            z-index: 999;
            /* 确保在其他内容之上 */
  }

  /* 导航栏链接样式 */
  .navbar li {
      float: left;
  }

  .navbar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 18px;
      text-decoration: none;
      font-weight: 700;
  }

  /* 链接颜色变化效果 */
  .navbar li a:hover {
      background-color: red;
  }